{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me poupe</title>
</head>
<body>
    <header>
        <h1> Me Poupe </h1>
    </header>
    <main class="animacao">
        <div class="area_apresentacao" >
            <section>
                <h2 class="apresentacao">Bem-vindo ao Me Poupe</h2>
                <p class="apresentacao">Gerencie suas despesas e acompanhe seus relatórios financeiros de forma simples e organizada.</p>
            </section>
            <nav>
                <a href="{% url 'despesa' %}"><button class="butao_despesa">Minhas Despesas</button></h1></a>
            </nav>
        </div>
    </main>
    <footer>
        <div>
            <p>© 2026 Me Poupe</p>
        </div>
    </footer>
</body>
</html>