{%load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Relatório</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h2>Relatório de Despesas por Categoria</h2>
        <nav>
            <a href="{% url 'despesa' %}">Voltar</a>
        </nav>
    </header>
    <main>
        <div class="area_grafico">
            <div class="grafico-container">
                <canvas id="grafico"></canvas>
            </div>
        </div>

        <script>
            const categorias = JSON.parse('{{ categorias|escapejs }}');
            const totais = JSON.parse('{{ totais|escapejs }}');

            const ctx = document.getElementById('grafico');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: categorias,
                    datasets: [{
                        label: 'Total por Categoria',
                        data: totais
                    }]
                }
            });
        </script>
    </main>
    <footer>
        <p>© 2026 Me Poupe</p>
    </footer>





</body>
</html>