{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me poupe</title>
</head>
<body>
    <header>
        <h1> Relatorio </h1>
        <nav>
            <a href="{% url 'index' %}">Voltar</a>
        </nav>
    </header>
    <main>
        <div class="container-relatorio">

            <h2>Relatório</h2>

            <div class="menu-relatorio">
                <form class="form-despesa" id="formulario" >
                    <select id="categoria" name="categoria" required>
                        <option value="">Selecione</option>
                        <option value="fixa">Fixa</option>
                        <option value="variavel">Variável</option>
                        <option value="essecial">Essecial</option>
                        <option value="diario">Diário</option>
                    </select>
                </form>
                

                <button onclick="mostrarPorCategoria()">
                    <h3>Filtrar</h3>
                </button>

            </div>

                <div id="resultado-relatorio" class="resultado">
                <!-- Aqui aparecerá o resultado -->
                    <h3>Resultado aparece aqui</h3>
                </div>

</div>
    </main>
    <footer>
        <p>© 2026 Me Poupe</p>
    </footer>
</body>
</html>