* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

main {
    display: flex;
    flex-direction: row;
    padding: 60px 20px;
    text-align: center;
    justify-content:center;
    gap: 20px;
}

main h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1e293b;
}

main p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.actions a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.actions a:hover {
    background-color: #1d4ed8;
}

.lista-despesas {
    width: 500px;
    height: 350px; /* altura fixa */
    overflow-y: auto; /* ativa rolagem vertical */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Scroll mais bonito */
.lista-despesas::-webkit-scrollbar {
    width: 8px;
}

.lista-despesas::-webkit-scrollbar-thumb {
    background-color: #2563eb;
    border-radius: 10px;
}

.card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f4f6f9;
    display: flex;          /* ativa o modo flex */
    flex-direction: column;
    justify-content: flex-start;
}

.adicionar{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f4f6f9;
}

.card h3 {
    margin: 0 0 5px 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f4f6f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-despesa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-despesa input,
.form-despesa select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.butao_despesa {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.butao_despesa:hover {
    background-color: #45a049;
}
.container-relatorio {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f4f6f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.menu-relatorio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-relatorio button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.menu-relatorio button:hover {
    background-color: #45a049;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    min-height: 50px;
}

.pesquisa-despesa {
    max-width: 600px;
    margin: 20px auto;
}

.pesquisa-despesa form {
    display: flex;
    gap: 10px;
}

.pesquisa-despesa input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.total-despesa{

    width: 500px;
    height: 100px; /* altura fixa */
    /*overflow-y: auto; ativa rolagem vertical */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);    

}

.total-despesa {
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;

    background: linear-gradient(135deg, #4CAF50, #2e7d32);
    color: white;

    border-radius: 12px;
    text-align: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.total-despesa h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.9;
}

.valor-total {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer {
    margin-top: 130px;
    padding: 20px;
    background-color: #1e293b;
    color: white;
    text-align: center;
    font-size: 14px;
}

.data_desc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* esquerda */
}


